
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');



:root {
  --transition: all 300ms ease-in-out;
  --dark-color: #332e29;
  --light-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  padding-top: 140px;
  background-color: #000000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: var(--light-color);
}

.lead {
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.8;
  color: #ffffff;
}

/* Nav-ends*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #000000;
  height: 120px;
  z-index: 1;
  padding: 0 8rem;
  color: var(--light-color);
}

nav ul {
  margin-right: 5rem;
}

.header-bar li {
  display: inline-block;
  margin-right: 5rem;
  color: var(--light-color);
  position: relative;
  padding: 0 3px;

  .nav-link::after {
    content: '';
    height: 2px;
    background-color: var(--light-color);
    position: absolute;
    left: 0;
    bottom: -0.7rem;
    transition: 0.3s;
    pointer-events: none;
     width:0;
  }

  .nav-link:hover::after {
    width: 100%;
  }
}

.nav-btn {
  cursor: pointer;
  color: #fff;
  background: transparent;
  padding: 2.3rem 6.5rem;
  border: 1px solid;
  border-radius: 2rem;
  font-size: 2rem;
  transition: var(--transition);

 
}

.nav-btn:hover  {
  opacity: 0.8;
  background-color: blue;
  border: none;
  color: #fff;
  
}

.fa-arrow-right{
 transition: all 0.3s;
}


.nav-btn:hover .fa-arrow-right {
translate:70%

}
/* Nav-ends*/


.drive-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 90vh;
  border-bottom: 1px solid white;

  .first {
    font-size: 8rem;
  }

  .wrapper-para {
    max-width: 550px;
    margin-left: 55rem;
    margin-top: -8rem;
    padding: 0 2rem;

    .para {
      font-size: 1.9rem;
      color: var(--light-color);
    }
  }
}

.our-team {
  margin-bottom: 16rem;

  .our-team-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem 2rem;
    text-align: center;

    .first {
      font-size: 6rem;
      font-weight: 600;
    }

    .our-team-wrapper-para {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 2rem;
      color: var(--light-color);

      .our-team-para {
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }

  .google-row1 {
    display: flex;
    justify-content: space-between;
    color: var(--light-color);
    overflow-x: auto;

    .google-row-icon1 {
      background-color: #ffffff1a;
      padding: 6rem 7.5rem;
      border-radius: 4rem;
      margin-bottom: 3rem;
      margin-right: 3rem;
      font-size: 2.5rem;
    }
  }

  .google-row1::-webkit-scrollbar {
    width: 0;
  }

  .line {
    width: 90%;
    height: 0.1rem;
    border: 0 none;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6rem;
  }
}









.the-team-container{
 overflow-x: auto;

} 

.the-team-container::-webkit-scrollbar {
    width: 0;
  }

.carousel{
  display: flex;
  align-items: center;
 margin-bottom: 16rem;
 cursor: pointer;
}

.cards{
  display: flex;
  gap: 3rem;
  
}

.card img{
  width: 420px;
  overflow: hidden;
  border-radius: 4rem;
}

.team  {
  min-width: 500px;
  padding: 20px;
  margin-left: 6rem;
}

.team h2{
  font-size: 5rem;
  line-height: 1.4;
}

.team h5{
  font-size: 2.1rem;
  line-height: 1.4;
}

.name{
  font-size: 3.5rem;
  color: var(--light-color);
  margin-top: 0.5rem;
}

.name2{
  font-size: 1.7rem;
   
}

.name3{
  color:  #9cfff1;
  font-size: 1.3rem;
  margin-right: 0.4rem;
}

 .line2 {
    width: 90%;
    height: 0.1rem;
    border: 0 none;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 5rem;
  }


/* footer start*/
  
.footer{
  padding:50px 0;
}

.footer-container{
  max-width: 1500px;
  margin: 10rem;
}
.row{
  display: flex;
  justify-content: space-between;
}
  
.row-left{
  max-width: 600px;
}

.footer-col-left, h2{
font-size: 7rem;

}
.footer-col-left, h5{
  font-size: 2rem;
  font-weight: lighter;
  
}


.row-right{
  display: flex;
 column-gap: 12rem;
}

.footer-col h4{
color:  #9cfff1;
}

.footer-col ul li{
  margin-top: 2.8rem;
}

.footer-list li a{
  position: relative;
}

.footer-list li a::after {
    content: '';
    height: 2px;
    background-color: var(--light-color);
    position: absolute;
    left: 0;
    bottom: -0.7rem;
    transition: 0.3s;
    pointer-events: none;
     width: 0;
  }

   .footer-list li a:hover::after {
    width: 100%;
  }

.w-6{
 transition: all 0.3s;
}


.footer-list li a:hover .w-6 {
 translate:20%

}



.w-6{
  width: 2.5rem;
}




 

 
  


 


